.container {
    display: grid;
    grid-template-columns: 1fr, 10fr, 1fr;
    grid-template-rows: 2fr, 1fr, 9fr;
    grid-column-gap: 30px;
    grid-row-gap: 25px;
}


.new { 
    grid-area: 1 / 1 / 2 / 4; 
}

.about-title { 
    grid-area: 2 / 1 / 3 / 4; 
}

.about { 
    grid-area: 3 / 2 / 4 / 3; 
}